<p><%= @user.username %>'s Characters</p>
<h2>Select a character you would like to edit or delete</h2>
<% @characters.each do |character| %>
<ul>
  <li>
    <a href="/characters" <%= character.id%>"<%= character.name %></li></a>
</ul>
<% end %>