<h1><%= @user.username %>'s Characters</h1>
<h2> Current list of active characters:</h2>
<% @characters.each do |character| %>

  <a href="/characters/<%= character.id%>"><%= character.name%></a>
  <br />
  <% end %>