<h1><%= @user.username %>'s list of active characters:</h1>
<% if @characters.empty? %>

<p> You have no Dungeons and Dragons characters. Click <a href="/characters/new">here</a> to make one!</p>

<% else %> 

<p></p>


<% @characters.each do |character| %>

  <a href="/characters/<%= character.id%>"><%= character.name%></a>
  <br />
  <% end %>
  <% end %>