<h1><%= @user.username %>'s Characters</h1>
<h3> Current list of active characters:</h3>
<% @characters.each do |character| %>

  <a href="/characters/<%= character.id%>"><%= character.name%></a>
  <br />
  <% end %>