<h1><%= @user.username %>'s Characters</h1>
<h2> Select the character you'd like to make changes to:</h2>
<% @characters.each do |character| %>
  <p></p><%= character.name %><br /> <a href="/character/<%=character.id%>/edit">Edit</a></p>
  <br />
  <% end %>