<h2>Edit Character</h2>

<form action="/characters/<%= @character.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Character Name:</label><br>
  <input type="text" id="name" name="name" size="30" value="<%= @character.name%>"><br>
  
  <p></p>
  
  <h3>Choose a race:</h3>
  <input type="radio" id="race" name="race" value="Dragonborn">
  <label for="dragonborn">Dragonborn</label><br>
  
  <input type="radio" id="race" name="race" value="Dwarf">
  <label for="dwarf">Dwarf</label><br>
  
  <input type="radio" id="race" name="race" value="Elf">
  <label for="elf">Elf</label><br>
  
  <input type="radio" id="race" name="race" value="Gnome">
  <label for="gnome">Gnome</label><br>
  
  <input type="radio" id="race" name="race" value="Half Elf">
  <label for="Half Elf">Half Elf</label><br>
  
  <input type="radio" id="race" name="race" value="Human">
  <label for="human">Human</label><br>
  
  <input type="radio" id="race" name="race" value="Tiefling">
  <label for="tiefling">Tiefling</label><br>
  
<p></p>

<h3>Choose a gender: </h3>
  <input type="radio" id="gender" name="gender" value="male">
  <label for="male">Male</label><br>
  
  <input type="radio" id="gender" name="gender" value="female">
  <label for="female">Female</label><br>

  <input type="radio" id="gender" name="gender" value="other">
  <label for="other">Other</label><br>

<p></p>
<h3>Choose a class: </h3>
  <input type="radio" id="archetype" name="archetype" value="Bard">
  <label for="bard">Bard</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Barbarian">
  <label for="barbarian">Barbarian</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Cleric">
  <label for="cleric">Cleric</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Druid">
  <label for="druid">Druid</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Fighter">
  <label for="fighter">Fighter</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Monk">
  <label for="monk">Monk</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Paladin">
  <label for="paladin">Paladin</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="Ranger">
  <label for="ranger">Ranger</label><br>
  
  <input type="radio" id="archetype" name="archetype" value="rogue">
  <label for="rogue">Rogue</label><br>
  
  <label>Background: </label><br>
  <textarea type="text" name="background"  rows="10" cols="60" id="background"><%= @character.background %></textarea></br>
  
  <p></p>
  
  <input type="submit" value="Finish Editing">

</form>