<!DOCTYPE html>
<h1>Dugneons and Dragons Creation Page</h1>
<form action="/posts/<%= user.id %>/edit" method="GET">
  
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>


  <label for="male">Male</label><br>
  <input type="radio" id="male" name="gender" value="male">
  
  <label for="female">Female</label><br>
  <input type="radio" id="female" name="gender" value="female">

  <label for="other">Other</label>
  <input type="radio" id="other" name="gender" value="other">



  <input type="radio" id="dragonborn" name="race" value="Dragonborn">
  <label for="dragonborn">Dragonborn</label><br>
  
  <input type="radio" id="dwarf" name="race" value="Dwarf">
  <label for="dwarf">Female</label><br>
  
  <input type="radio" id="elf" name="race" value="Elf">
  <label for=""
</form>