<!DOCTYPE html>
<h1>Dugneons and Dragons Creation Page</h1>
<form action="/characters/new" method="GET">
  
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>


  <label for="male">Male</label><br>
  <input type="radio" id="male" name="gender" value="male"><br>
  
  <label for="female">Female</label><br>
  <input type="radio" id="female" name="gender" value="female"><br>

  <label for="other">Other</label><br>
  <input type="radio" id="other" name="gender" value="other"><br>



  <input type="radio" id="dragonborn" name="race" value="Dragonborn"><br>
  <label for="dragonborn">Dragonborn</label><br>
  
  <input type="radio" id="dwarf" name="race" value="Dwarf"><br>
  <label for="dwarf">Female</label><br>
  

</form>