<!DOCTYPE html>
<h1>Dugneons and Dragons Creation Page</h1><br>
<form action="/characters" method="POST">
  
  <label for="name">Character Name:</label><br>
  <input type="text" id="name" name="name" size="30"><br>
  
  <p></p>
  
  <h2>Choose a race:</h2>
  <input type="radio" id="race" name="race" value="Dragonborn">
  <label for="dragonborn">Dragonborn</label><br>
  
  <input type="radio" id="race" name="race" value="Dwarf">
  <label for="dwarf">Dwarf</label><br>
  
  <input type="radio" id="race" name="race" value="Elf">
  <label for="elf">Elf</label><br>
  
  <input type="radio" id="race" name="race" value="Gnome">
  <label for="gnome">Gnome</label><br>
  
  <input type="radio" id="race" name="race" value="HalfElf">
  <label for="halfelf">Half Elf</label><br>
  
  <input type="radio" id="race" name="race" value="Human">
  <label for="human">Human</label><br>
  
  <input type="radio" id="race" name="race" value="Tiefling">
  <label for="tiefling">Tiefling</label><br>
  
<p></p>

<h2>Choose a gender: </h2>
  <input type="radio" id="gender" name="gender" value="male">
  <label for="male">Male</label><br>
  
  <input type="radio" id="gender" name="gender" value="female">
  <label for="female">Female</label><br>

  <input type="radio" id="gender" name="gender" value="other">
  <label for="other">Other</label><br>

<p></p>
<h2>Choose a class: </h2>
  <input type="radio" id="class" name="class" value="Bard">
  <label for="bard">Bard</label><br>
  
  <input type="radio" id="class" name="class" value="Barbarian">
  <label for="barbarian">Barbarian</label><br>
  
  <input type="radio" id="class" name="class" value="Cleric">
  <label for="cleric">Cleric</label><br>
  
  <input type="radio" id="class" name="class" value="Druid">
  <label for="druid">Druid</label><br>
  
  <input type="radio" id="class" name="class" value="Fighter">
  <label for="fighter">Fighter</label><br>
  
  <input type="radio" id="class" name="class" value="Monk">
  <label for="monk">Monk</label><br>
  
  <input type="radio" id="class" name="class" value="Paladin">
  <label for="paladin">Paladin</label><br>
  
  <input type="radio" id="class" name="class" value="Ranger">
  <label for="ranger">Ranger</label><br>
  
  <input type="radio" id="class" name="class" value="rogue">
  <label for="rogue">Rogue</label><br>
  
  <p></p>
  <input type="submit" value="Submit Character">

</form>