<!DOCTYPE html>
<html>
<head>
</head>
<body>
  

<h2>List of all characters on Dungeons and Dragons templates:</h2>


<% @characters.each do |character| %>

  <h3><a href="/characters/<%= character.id%>"><%= character.name%></a></h3>
  <% end %>

  <p></p>
  
<% if !logged_in? %>

<p> Want to view or create characters? <a href="/characters/signup">Signup</a> here!</p>

<% end %>
  
  
  
  
  
</body>
</html>
