<!DOCTYPE html>
<html>
<head>
</head>
<body>
  
<p>Want to create your own character? Login or Signup to get started!</p>

<h1>Current list of characters:</h1>


<% @characters.each do |character| %>

  <a href="/characters/<%= character.id%>"><%= character.name%></a>
  <br />
  <% end %>
</body>
</html>
