<!DOCTYPE html>
<html>
<head>
</head>
<body>
  

<h2>Current list of characters:</h2>


<% @characters.each do |character| %>

  <h2><a href="/characters/<%= character.id%>"><%= character.name%></a></h2>
  <% end %>
  
  <p></p>
<p>Want to create your own character? Login or Signup to get started!</p>
  
  
  
  
  
</body>
</html>
